<div class="main-outer"></div>
<br>
<div class="row" style="margin: 0">
  <div class="col-4" style="border-right: 1px solid #34495e">
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Department</th>
      </tr>
      </thead>
      <tbody>
      <tr (click)="filterSubDepartments(department.name,department.id)" style="cursor: pointer"  *ngFor="let department of departments?.rows; index as num">
        <td>{{((num+1))}}</td>
        <td>{{department.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="selectedSubDepartments.length!=0" class="col-4" style="border-right: 1px solid #34495e">
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Sub Department ({{selectedDepartmentName}})</th>
      </tr>
      </thead>
      <tbody>
      <tr (click)="filterCategory(subDepartment.sub_department_name,subDepartment.id)" style="cursor: pointer" *ngFor="let subDepartment of selectedSubDepartments; index as num">
        <td>{{(num+1)}}</td>
        <td>{{subDepartment.sub_department_name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
